/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HighLevelList;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 8;
	margin-left: 50pt;
	margin-right: 50pt;
	cell-padding-left: 6px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-weight: bold;
	text-align: justify;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	vertical-align: middle;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	text-align: center;
}

mcTableHeadStyle
{
	span: 1;
	id: 7;
	name: Header1;
	font-family: 'Geogrotesque Regular';
	separator-style: solid;
	separator-width: 1px;
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #dcdcdc;
	separator-style: solid;
	separator-width: 0px;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Body3;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-HighLevelList
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	margin-left: 50pt;
	margin-right: 50pt;
	border-spacing: 0px 0px;
}

.TableStyle-HighLevelList-Column-Column1
{
	
}

.TableStyle-HighLevelList-Column-Column2
{
	
}

.TableStyle-HighLevelList-Column-Column3
{
	
}

.TableStyle-HighLevelList-Head-Header1
{
	
}

.TableStyle-HighLevelList-HeadI-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadI-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadE-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadE-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadF-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadF-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadH-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadH-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadD-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadD-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadC-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadC-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadB-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadB-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadA-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadA-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadG-Column1-Header1
{
	padding-left: 6px;
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadG-Column1-Header1 p
{
	font-weight: bold;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadI-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadI-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadE-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadE-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadF-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadF-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadH-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadH-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadD-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadD-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadC-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadC-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadB-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadB-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadA-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadA-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadG-Column2-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadG-Column2-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadI-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadI-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadE-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadE-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadF-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadF-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadH-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadH-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadD-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-HighLevelList-HeadD-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadC-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadC-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadB-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadB-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadA-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadA-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-HeadG-Column3-Header1
{
	padding-left: 6px;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	vertical-align: middle;
	background-color: #000000;
}

.TableStyle-HighLevelList-HeadG-Column3-Header1 p
{
	font-family: 'Geogrotesque Regular';
}

.TableStyle-HighLevelList-Foot-Footer1
{
	
}

.TableStyle-HighLevelList-FootI-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootE-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootF-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootH-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootD-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootC-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootB-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootA-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootG-Column1-Footer1
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-FootI-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootI-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootE-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootE-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootF-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootF-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootH-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootH-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootD-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootD-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootC-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootC-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootB-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootB-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootA-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootA-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootG-Column2-Footer1
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-FootG-Column2-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootI-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootI-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootE-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootE-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootF-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootF-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootH-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootH-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootD-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-HighLevelList-FootD-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootC-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootC-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootB-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootB-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootA-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootA-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-FootG-Column3-Footer1
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-FootG-Column3-Footer1 p
{
	
}

.TableStyle-HighLevelList-Body-Body2
{
	
}

.TableStyle-HighLevelList-BodyI-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyI-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyE-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyE-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyF-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyF-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyH-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyH-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyD-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyD-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyC-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyC-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyB-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyB-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyA-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyA-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyG-Column1-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyG-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyI-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyI-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyE-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyE-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyF-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyF-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyH-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyH-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyD-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyD-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyC-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyC-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyB-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyB-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyA-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyA-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyG-Column2-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyG-Column2-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyI-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyI-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyE-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-HighLevelList-BodyE-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyF-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-HighLevelList-BodyF-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyH-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyH-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyD-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-HighLevelList-BodyD-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyC-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyC-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyB-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyB-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyA-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyA-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-BodyG-Column3-Body2
{
	padding-left: 6px;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-HighLevelList-BodyG-Column3-Body2 p
{
	
}

.TableStyle-HighLevelList-Body-Body3
{
	
}

.TableStyle-HighLevelList-BodyI-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyI-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyE-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyE-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyF-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyF-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyH-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyH-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyD-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyD-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyC-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyC-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyB-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-HighLevelList-BodyB-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyA-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyA-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyG-Column1-Body3
{
	padding-left: 6px;
	font-weight: bold;
	text-align: justify;
}

.TableStyle-HighLevelList-BodyG-Column1-Body3 p
{
	font-weight: bold;
}

.TableStyle-HighLevelList-BodyI-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyI-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyE-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyE-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyF-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyF-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyH-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyH-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyD-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyD-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyC-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyC-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyB-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyB-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyA-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyA-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyG-Column2-Body3
{
	padding-left: 6px;
	vertical-align: middle;
}

.TableStyle-HighLevelList-BodyG-Column2-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyI-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyI-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyE-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyE-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyF-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyF-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyH-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyH-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyD-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyD-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyC-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyC-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyB-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyB-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyA-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyA-Column3-Body3 p
{
	
}

.TableStyle-HighLevelList-BodyG-Column3-Body3
{
	padding-left: 6px;
	text-align: center;
}

.TableStyle-HighLevelList-BodyG-Column3-Body3 p
{
	
}


