/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: SimpleDescriptive;
	border-collapse: collapse;
	max-id: 7;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-family: 'Proxima Nova Rg';
	color: #000000;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	font-family: 'Geogrotesque Regular';
	color: #000000;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	font-size: 13pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Row1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-SimpleDescriptive
{
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.TableStyle-SimpleDescriptive-Column-Column1
{
	
}

.TableStyle-SimpleDescriptive-Column-Column2
{
	
}

.TableStyle-SimpleDescriptive-Head-Header1
{
	
}

.TableStyle-SimpleDescriptive-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadI-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadE-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadF-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadH-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-HeadD-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadC-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadB-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadA-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	background-color: #dcdcdc;
}

.TableStyle-SimpleDescriptive-HeadG-Column2-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
	font-size: 13pt;
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-Foot-Footer1
{
	
}

.TableStyle-SimpleDescriptive-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDescriptive-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDescriptive-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootI-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootE-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootF-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootH-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleDescriptive-FootD-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootC-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootB-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootA-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-FootG-Column2-Footer1 p
{
	
}

.TableStyle-SimpleDescriptive-Body-Row1
{
	
}

.TableStyle-SimpleDescriptive-BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyI-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDescriptive-BodyE-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyF-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDescriptive-BodyH-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyD-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyC-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDescriptive-BodyB-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyA-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyG-Column1-Row1 p
{
	color: #000000;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
}

.TableStyle-SimpleDescriptive-BodyI-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyI-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyE-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-BodyE-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyF-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-BodyF-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyH-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyH-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyD-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SimpleDescriptive-BodyD-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyC-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyC-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyB-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyB-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyA-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyA-Column2-Row1 p
{
	
}

.TableStyle-SimpleDescriptive-BodyG-Column2-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleDescriptive-BodyG-Column2-Row1 p
{
	
}


