﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="869" MadCap:lastWidth="652">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">GET Object</h1>
        <p style="text-align: left;"> To use GET Object, it is necessary to have READ access to the target object. If READ access is granted to an anonymous user, the object can be returned without using an authorization header.</p>
        <p style="text-align: left;" MadCap:conditions="PrintGuides.Future">The <span class="ElementName">s3:GetObject</span> permission in an IAM&#160;policy is required for a user (versus an account) to access an object. If the requested object does not exist, the HTTP status code error returned will reflect whether the <span class="ElementName">s3:ListBucket</span> permission is enabled.</p>
        <ul MadCap:conditions="PrintGuides.Future">
            <li MadCap:conditions="">s3:ListBucket permission  enabled: 404 ("no such key")</li>
            <li MadCap:conditions="">s3:ListBucket permission not enabled: 403 ("access denied")</li>
        </ul>
        <p style="text-align: left;">By default, the GET Object operation returns the current version of an object. To return a different version, use the <span class="ElementName">versionId</span> subresource.</p>
        <p class="Note" style="text-align: left;">If the current version of the object is a delete marker, <MadCap:variable name="S3 Connector Variables.ComponentName" /> behaves as if the object was deleted and includes <span class="ElementName">x-amz-delete-marker: true</span> in the response.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve">GET /ObjectName HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}}
Range:bytes={{byteRange}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">Values for a set of response headers can be overridden in the GET Object response using the query parameters listed in the following table. These response header values are sent only on a successful request, one in which a status code <i>200 OK</i> is returned. The set of headers that can be overridden using these parameters is a subset of the headers that <MadCap:variable name="S3 Connector Variables.ComponentName" /> accepts when an object is created, including <span class="Code_Terminal">Content-Type</span>, <span class="Code_Terminal">Content-Language</span>, <span class="Code_Terminal">Expires</span>, <span class="Code_Terminal">Cache-Control</span>, <span class="Code_Terminal">Content-Disposition</span>, and <span class="Code_Terminal">Content-Encoding</span>. </p>
        <p class="Note" style="text-align: left;">In using these parameters it is necessary to sign the request, either with an Authorization header or a pre-signed URL. They cannot be used with an unsigned (anonymous) request.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">response-content-type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Content-Type</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">response-content-language</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Content-Language</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">response-expires</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Expires</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">response-cache-control</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Cache-Control</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">response-content-disposition</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Content-Disposition</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">response-content-encoding</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Sets the <span class="Code_Terminal">Content-Encoding</span> header of the response</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.3 &#160;">Additional Parameters</h3>
        <h4>Versioning</h4>
        <p>By default, the GET operation returns the current version of an object. To return a different version, use the versionId subresource.</p>
        <h4>PartNumber</h4>
        <p>The PartNumber parameter requests the part number of the object being read. This is a positive integer between 1 and 10,000, and effectively performs a 'ranged' GET request for the part specified. Useful for downloading just a part of an object that was originally put by multipart upload.</p>
        <p>&#160;</p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Headers</h3>
        <p class="pgBreakKeepNext" style="text-align: left;"> The GET Object operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 140px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 47px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">If-Modified-Since</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Return the object only if it has been modified since the specified time, otherwise return a <span class="Code_Terminal">304</span> (not modified)</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">If-Unmodified-Since</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Return the object only if it has not been modified since the specified time, otherwise return a <span class="Code_Terminal">412</span> (precondition failed)</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">If-Match</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Return the object only if its entity tag (ETag) is the same as the one specified; otherwise, return a <span class="Code_Terminal">412</span> (precondition failed)</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">If-None-Match</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Return the object only if its entity tag (ETag) is different from the one specified; otherwise, return a <span class="Code_Terminal">304</span> (not modified)</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.5 &#160;">Request Elements</h3>
        <p style="text-align: left;">The GET Object operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.6 &#160;"> Response Headers</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 141px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-delete-marker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Boolean</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Specifies whether the object retrieved was (true) or was not (false) a delete marker. If &#160;false, the response header does not appear in the response.</p>
                        <p class="InTableFormatted">Valid Values: &#160;<span class="Code_Terminal">true</span> &#160;| &#160;<span class="Code_Terminal">false</span></p>
                        <p class="InTableFormatted">Default: &#160;<span class="Code_Terminal">false</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-meta-*</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Headers starting with this prefix are user-defined metadata, each of which is stored and returned as a set of key-value pairs. <MadCap:variable name="S3 Connector Variables.ComponentName" /> does not validate or interpret user-defined metadata.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-version-id</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Returns the version ID of the retrieved object if it has a unique version ID</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">x-amz-website -redirect-location</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">When a bucket is configured as a website, this metadata can be set on the object so the website endpoint will evaluate the request for the object as a 301 redirect to another object in the same bucket or an external URL.</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.7 &#160;">Response Elements</h3>
        <p style="text-align: left;">The GET Object operation does not return response elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.8 &#160;">Returns the Object "my-document.pdf"</h3>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET /my-document.pdf HTTP/1.1
Host: {{bucketName}}.s3.scality.com
Date: Wed, 28 Oct 2009 22:32:00 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: eftixk72aD6Ap51TnqcoF8eFidJG9Z/2mkiDFu8yU9AS1ed4OpIszj7UDNEHGran
x-amz-request-id: 318BC8BC148832E5
Date: Wed, 28 Oct 2009 22:32:00 GMT
Last-Modified: Wed, 12 Oct 2009 17:50:00 GMT
ETag: "fba9dede5f27731c9771645a39863328"
Content-Length: 434234
Content-Type: text/plain
Connection: close
Server: ScalityS3
[434234 bytes of object data]</pre>
        <h4>Response Sample if the Latest Object is a Delete Marker</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 404 Not Found
x-amz-request-id: 318BC8BC148832E5
x-amz-id-2: eftixk72aD6Ap51Tnqzj7UDNEHGran
x-amz-version-id: 3GL4kqtJlcpXroDTDm3vjVBH40Nr8X8g
x-amz-delete-marker:  true
Date: Wed, 28 Oct 2009 22:32:00 GMT
Content-Type: text/plain
Connection: close
Server: ScalityS3</pre>
        <p>Note that the delete marker returns a <span class="ProperNameBold">404 Not Found</span> error.</p>
        <h3 MadCap:autonum="1.0.9 &#160;">Getting a Specified Version of an Object</h3>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET /myObject?versionId=3/L4kqtJlcpXroDTDmpUMLUo HTTP/1.1
Host: {{bucketName}}.s3.scality.com
Date: Wed, 28 Oct 2009 22:32:00 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: eftixk72aD6Ap54OpIszj7UDNEHGran
x-amz-request-id: 318BC8BC148832E5
Date: Wed, 28 Oct 2009 22:32:00 GMT
Last-Modified: Sun, 1 Jan 2006 12:00:00 GMT
x-amz-version-id: 3/L4kqtJlcpXroDTDmJ+rmSpXd3QBpUMLUo
ETag: "fba9dede5f27731c9771645a39863328"
Content-Length: 434234
Content-Type: text/plain
Connection: close
Server: ScalityS3
[434234 bytes of object data]</pre>
        <h3 MadCap:autonum="1.0.10 &#160;">Specifies all Query String Parameters, Overriding Response Header Values</h3>
        <h4>Request Sample</h4>
        <p class="codeparatext" style="color: #000000;">GET /Junk3.txt?response-cache-control=No-cache&amp;response-content-disposition=attachment%3B%20filename%3Dtesting.txt&amp;response-content-encoding=x-gzip&amp;response-content-language=mi%2C%20en&amp;response-expires=Thu%2C%2001%20Dec%201994%2016:00:00%20GMT HTTP/1.1</p>
        <p class="codeparatext" style="color: #000000;">x-amz-date: Sun, 19 Dec 2010 01:53:44 GMT</p>
        <p class="codeparatext" style="color: #000000;">Accept: */*</p>
        <p class="codeparatext" style="color: #000000;">Authorization: AWS AKIAIOSFODNN7EXAMPLE:aaStE6nKnw8ihhiIdReoXYlMamW=</p>
        <h4>Response Sample</h4>
        <p style="text-align: left;">In the sample, the header values are set to the values specified in the true request.</p><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: SIidWAK3hK+Il3/Qqiu1ZKEuegzLAAspwsgwnwygb9GgFseeFHL5CII8NXSrfWW2
x-amz-request-id: 881B1CBD9DF17WA1
Date: Sun, 19 Dec 2010 01:54:01 GMT
x-amz-meta-param1: value 1
x-amz-meta-param2: value 2
Cache-Control: No-cache
Content-Language: mi, en
Expires: Thu, 01 Dec 1994 16:00:00 GMT
Content-Disposition: attachment; filename=testing.txt
Content-Encoding: x-gzip
Last-Modified: Fri, 17 Dec 2010 18:10:41 GMT
ETag: "0332bee1a7bf845f176c5c0d1ae7cf07"
Accept-Ranges: bytes
Content-Type: text/plain
Content-Length: 22
Server: ScalityS3
[object data not shown]</pre>
        <h3 MadCap:autonum="1.0.11 &#160;">Request with a Range Header</h3>
        <h4>Request Sample</h4>
        <p>The request specifies the HTTP Range header to retrieve the first 10 bytes of an object.</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /example-object HTTP/1.1
Host: {{bucketName}}.s3.scality.com
x-amz-date: Fri, 28 Jan 2011 21:32:02 GMT
Range: bytes=0-9
Authorization: AWS AKIAIOSFODNN7EXAMPLE:Yxg83MZaEgh3OZ3l0rLo5RTX11o=
Sample Response with Specified Range of the Object Bytes</pre>
        <p class="Note"><MadCap:variable name="S3 Connector Variables.ComponentName" /> doesn't support retrieving multiple ranges of data per GET request.</p>
        <h4>Response Sample</h4>
        <p style="text-align: left;">In the sample, the header values are set to the values specified in the true request.</p><pre xml:space="preserve">HTTP/1.1 206 Partial Content
x-amz-id-2: MzRISOwyjmnupCzjI1WC06l5TTAzm7/JypPGXLh0OVFGcJaaO3KW/hRAqKOpIEEp
x-amz-request-id: 47622117804B3E11
Date: Fri, 28 Jan 2011 21:32:09 GMT
x-amz-meta-title: the title
Last-Modified: Fri, 28 Jan 2011 20:10:32 GMT
ETag: "b2419b1e3fd45d596ee22bdf62aaaa2f"
Accept-Ranges: bytes
Content-Range: bytes 0-9/443
Content-Type: text/plain
Content-Length: 10
Server: ScalityS3
[10 bytes of object data]</pre>
    </body>
</html>