﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="837" MadCap:lastWidth="648" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">GET Bucket Object Versions</h1>
        <p style="text-align: left;">The GET Bucket Object Versions operation uses the <span class="ElementName">versions</span> subresource to list metadata about all of the versions of objects in a bucket. Request parameters can also be used as selection criteria to return metadata about a subset of all the object versions. <span class="Variable">READ</span> access to the bucket is necessary to use the GET Bucket Object Versions operation. </p>
        <p class="Note">A <span class="Code_Terminal">200 OK</span> response can contain valid or invalid XML. Make sure to design the application to parse the contents of the response and handle it appropriately. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve">GET /?versions HTTP/1.1
Host: {{BucketName}}.{{ConnectorName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The GET Bucket Object Versions operation can use the following optional parameters to return a subset of objects in a bucket:</p>
        <table style="width: 100%;margin-left: 0;margin-right: auto;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 119px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 540px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">delimiter</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Character used to group keys</p>
                        <p class="InTableFormatted">All keys that contain the same string between the <span class="ElementName">prefix</span>, if specified, and the first occurrence of the delimiter after the prefix are grouped under a single result element, <span class="ElementName">CommonPrefixes</span>. If prefix is not specified, then the substring starts at the beginning of the key. The keys that are grouped under <span class="ElementName">CommonPrefixes</span> result element are not returned elsewhere in the response.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">encoding-type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Encodes keys with the method specified. Since XML 1.0 parsers cannot parse certain characters that may be included in an object key, the keys in the response can be encoded to ensure they are legible. Encoding is not set by default. Currently the only valid value is <span class="Code_Terminal">url</span>.
</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">key–marker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Specifies the key in the bucket to start listing from. Also, refer to <span class="ElementName">version-id-marker</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">max-keys</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Sets the maximum number of keys returned in the response body. The response might contain fewer keys, but will never contain more. If additional keys satisfy the search criteria, but were not returned because <span class="ElementName">max-keys</span> was exceeded, the response contains <span class="ElementName">&lt;isTruncated&gt;true&lt;/isTruncated&gt;</span>. To return the additional keys, refer to <span class="ElementName">key-marker</span> and <span class="ElementName">version-id-marker</span>.</p>
                        <p>Default: 1000</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">prefix</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Use this parameter to select only keys that begin with the specified prefix. Use prefixes to separate a bucket into different groupings of keys. (Use <span class="ElementName">prefix</span> to make groups in the same way a folder is used in a file system.) Use <span class="ElementName">prefix</span> with <span class="ElementName">delimiter</span> to roll up numerous objects into a single result under <span class="ElementName">CommonPrefixes</span>. </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">version–id-marker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>Specifies the object version to start listing from. Also, refer to <span class="ElementName">key-marker</span>.
</p>
                        <p>
Valid Values: Valid version ID | Default
</p>
                        <p>
Constraint: May not be an empty string</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket Object Versions operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The GET Bucket Object Versions operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket Object Versions operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The GET Bucket Object Versions operation can return the following XML&#160;elements in the response: </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">DeleteMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for an object that is a delete marker</p>
                        <p>Children: Key, VersionId, IsLatest, LastModified, Owner</p>
                        <p>Ancestor: ListVersionsResult</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">DisplayName</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Object owner's name</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult.Version.Owner | ListVersionsResult.DeleteMarker.Owner</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Encoding-Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Encoding type used by <MadCap:variable name="S3 Connector Variables.ComponentName" /> to encode object key names in the XML response.</p>
                        <p>If <span class="ElementName">encoding-type</span> request parameter is specified, <MadCap:variable name="S3 Connector Variables.ComponentName" /> includes this element in the response, and returns encoded key name values in the following response elements:</p>
                        <p class="InTableFormatted"><span class="ElementName">KeyMarker</span>, <span class="ElementName">NextKeyMarker</span>, <span class="ElementName">Prefix</span>, <span class="ElementName">Key</span>, and <span class="ElementName">Delimiter</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ETag</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>The entity tag is an MD5 hash of the object. The ETag reflects changes only to the contents of an object, not its metadata.</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult.Version</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>ID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Object owner's ID</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult.Version.Owner | ListVersionsResult.DeleteMarker.Owner</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>IsLatest</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Boolean</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Specifies whether the object is (<span class="ProperNameBold">true</span>) or not (<span class="ProperNameBold">false</span>) the current version of an object</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">IsTruncated</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Boolean</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Indicates whether (<span class="ProperNameBold">true</span>) or not (<span class="ProperNameBold">false</span>) all results matching the search criteria were returned. All of the results may not be returned if the number of results exceeds that specified by&#160;<span class="ElementName">MaxKeys</span>. If the results were truncated, it is possible to make a follow-up paginated request using the <span class="ElementName">NextKeyMarker</span> and <span class="ElementName">NextVersionIdMarker</span> response parameters as a starting place in another request to return the rest of the results.</p>
                        <p>Ancestor: ListVersionResult</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Key</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The object's key</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult.Version | ListVersionsResult.DeleteMarker</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">KeyMarker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Marks the last <span class="ElementName">key</span> returned in a truncated response</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">LastModified</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">date</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Date and time the object was last modified</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult.Version | ListVersionsResult.DeleteMarker</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ListVersionsResult</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container of the result</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">MaxKeys</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The maximum number of objects to return</p>
                        <p class="InTableFormatted">Default:&#160;1000</p>
                        <p class="InTableFormatted">Ancestor: ListVersionsResult</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Name</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Bucket owner's name</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">NextKeyMarker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">When the number of responses exceeds the value of <span class="ElementName">MaxKeys</span>, <span class="ElementName">NextKeyMarker</span> specifies the first key not returned that satisfies the search criteria. Use this value for the key-marker request parameter in a subsequent request</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">NextVersionIdMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When the number of responses exceeds the value of <span class="ElementName">MaxKeys</span>, <span class="ElementName">NextVersionIdMarker</span> specifies the first object version not returned that satisfies the search criteria. Use this value for the <span class="ElementName">version-id-marker</span> request parameter in a subsequent request.</p>
                        <p class="InTableFormatted">Ancestor: ListVersionResult</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Owner</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Bucket owner</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Prefix</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Selects objects that start with the value supplied by this parameter.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Size</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Size in bytes of the object</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">StorageClass</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Always STANDARD</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Version</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Container of version information</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">VersionId</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Version ID of an object</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">VersionIdMarker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Marks the last version of the <span class="ElementName">key</span> returned in a truncated response</td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Get All of the Versions of All of the Objects in a Specified Bucket</h3>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions HTTP/1.1
Host: BucketName.s3.scality.com
Date: Thu, 31 Mar 2016 15:11:47 GMT
Authorization: AWS pat:6nYhPMw6boadLgjywjSIyhfwRIA=</pre>
        </div>
        <div>
            <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01"&gt;
    &lt;Name&gt;bucket&lt;/Name&gt;
    &lt;Prefix&gt;my&lt;/Prefix&gt;
    &lt;KeyMarker/&gt;
    &lt;VersionIdMarker/&gt;
    &lt;MaxKeys&gt;5&lt;/MaxKeys&gt;
    &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
    &lt;Version&gt;
        &lt;Key&gt;my-image.jpg&lt;/Key&gt;
        &lt;VersionId&gt;3/L4kqtJl40Nr8X8gdRQBpUMLUo&lt;/VersionId&gt;
        &lt;IsLatest&gt;true&lt;/IsLatest&gt;
         &lt;LastModified&gt;2009-10-12T17:50:30.000Z&lt;/LastModified&gt;
        &lt;ETag&gt;&amp;quot;fba9dede5f27731c9771645a39863328&amp;quot;&lt;/ETag&gt;
        &lt;Size&gt;434234&lt;/Size&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
        &lt;Owner&gt;
            &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
            &lt;DisplayName&gt;mtd@amazon.com&lt;/DisplayName&gt;
        &lt;/Owner&gt;
    &lt;/Version&gt;
    &lt;DeleteMarker&gt;
        &lt;Key&gt;my-second-image.jpg&lt;/Key&gt;
        &lt;VersionId&gt;03jpff543dhffds434rfdsFDN943fdsFkdmqnh892&lt;/VersionId&gt;
        &lt;IsLatest&gt;true&lt;/IsLatest&gt;
        &lt;LastModified&gt;2009-11-12T17:50:30.000Z&lt;/LastModified&gt;
        &lt;Owner&gt;
            &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
            &lt;DisplayName&gt;mtd@amazon.com&lt;/DisplayName&gt;
        &lt;/Owner&gt;    
    &lt;/DeleteMarker&gt;
    &lt;Version&gt;
        &lt;Key&gt;my-second-image.jpg&lt;/Key&gt;
        &lt;VersionId&gt;QUpfdndhfd8438MNFDN93jdnJFkdmqnh893&lt;/VersionId&gt;
        &lt;IsLatest&gt;false&lt;/IsLatest&gt;
        &lt;LastModified&gt;2009-10-10T17:50:30.000Z&lt;/LastModified&gt;
        &lt;ETag&gt;&amp;quot;9b2cf535f27731c974343645a3985328&amp;quot;&lt;/ETag&gt;
        &lt;Size&gt;166434&lt;/Size&gt;
        &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
        &lt;Owner&gt;
            &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
            &lt;DisplayName&gt;mtd@amazon.com&lt;/DisplayName&gt;
        &lt;/Owner&gt;
     &lt;/Version&gt;
&lt;/ListVersionsResult&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.8 &#160;">Get Objects in the Order They Were Stored</h3>
        <p>The following GET request returns the most recently stored object first starting with the value for <span class="ElementName">key-marker</span>.</p>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions&amp;amp;key-marker=key2 HTTP/1.1
Host: demo.s3.scality.com
Pragma: no-cache
Accept: */*
Date: Tue, 28 Jun 2011 09:27:15 GMT
Authorization: AWS pat:0YPPNCCa9yAbKOFdlLD/ixMLayg=</pre>
        </div>
        <div>
            <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;mtp-versioning-fresh&lt;/Name&gt;
  &lt;Prefix/&gt;
  &lt;KeyMarker&gt;key2&lt;/KeyMarker&gt;
  &lt;VersionIdMarker/&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;Version&gt;
    &lt;Key&gt;key3&lt;/Key&gt;
    &lt;VersionId&gt;I5VhmK6CDDdQ5Pwfe1gcHZWmHDpcv7gfmfc29UBxsKU.&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-09T00:19:04.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
  &lt;DeleteMarker&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;qDhprLU80sAlCFLu2DWgXAEDgKzWarn-HS_JU0TvYqs.&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:38:11.000Z&lt;/LastModified&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
  &lt;/DeleteMarker&gt;
  &lt;Version&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;wxxQ7ezLaL5JN2Sislq66Syxxo0k7uHTUpb9qiiMxNg.&lt;/VersionId&gt;
    &lt;IsLatest&gt;false&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:37:44.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
&lt;/ListVersionsResult&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.9 &#160;">Using prefix</h3>
        <p style="page-break-after: avoid;">The following GET request returns objects whose keys begin with  <span class="ElementName">source</span>.</p>
        <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions&amp;amp;prefix=source HTTP/1.1
Host: bucket.s3.scality.com
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;mtp-versioning-fresh&lt;/Name&gt;
  &lt;Prefix&gt;source&lt;/Prefix&gt;
  &lt;KeyMarker/&gt;
  &lt;VersionIdMarker/&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;DeleteMarker&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;qDhprLU80sAlCFLu2DWgXAEDgKzWarn-HS_JU0TvYqs.&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:38:11.000Z&lt;/LastModified&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
  &lt;/DeleteMarker&gt;
  &lt;Version&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;wxxQ7ezLaL5JN2Sislq66Syxxo0k7uHTUpb9qiiMxNg.&lt;/VersionId&gt;
    &lt;IsLatest&gt;false&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:37:44.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
&lt;/ListVersionsResult&gt;</pre>
        <div>
            <h3 MadCap:autonum="1.0.10 &#160;">Using key_marker and version_id_marker</h3>
            <p>The following GET request returns objects starting at the specified key (key-marker) and version ID (version-id-marker). </p>
            <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions&amp;amp;key=key3&amp;amp;version-id-marker=t4Zen1YTZBnj HTTP/1.1
Host: bucket.s3.scality.com
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorizationString}}</pre>
            <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;mtp-versioning-fresh&lt;/Name&gt;
  &lt;Prefix/&gt;
  &lt;KeyMarker&gt;key3&lt;/KeyMarker&gt;
  &lt;VersionIdMarker&gt;t46ZenlYTZBnj&lt;/VersionIdMarker&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;DeleteMarker&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;qDhprLU80sAlCFLu2DWgXAEDgKzWarn-HS_JU0TvYqs.&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:38:11.000Z&lt;/LastModified&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
  &lt;/DeleteMarker&gt;
  &lt;Version&gt;
    &lt;Key&gt;sourcekey&lt;/Key&gt;
    &lt;VersionId&gt;wxxQ7ezLaL5JN2Sislq66Syxxo0k7uHTUpb9qiiMxNg.&lt;/VersionId&gt;
    &lt;IsLatest&gt;false&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-10T16:37:44.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
&lt;/ListVersionsResult&gt;</pre>
            <h3 MadCap:autonum="1.0.11 &#160;">Using key_marker, version_id_marker and max_keys</h3>
            <p style="page-break-after: avoid;">The following GET request returns up to three (the value of <span class="ElementName">max-keys</span>) objects starting with the key specified by <span class="ElementName">key-marker</span> and the version ID specified by <span class="ElementName">version-id-marker</span>.</p>
            <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions&amp;amp;key-marker=key3&amp;amp;version-id-marker=t46Z0menlYTZBnj HTTP/1.1
Host: bucket.s3.scality.com
Date: Wed, 28 Oct 2009 22:32:00 +0000
Authorization: authorization string</pre>
            <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;mtp-versioning-fresh&lt;/Name&gt;
  &lt;Prefix/&gt;
  &lt;KeyMarker&gt;key3&lt;/KeyMarker&gt;
  &lt;VersionIdMarker&gt;null&lt;/VersionIdMarker&gt;
  &lt;NextKeyMarker&gt;key3&lt;/NextKeyMarker&gt;
  &lt;NextVersionIdMarker&gt;d-d309mfjFrUmoQ0DBsVqmcMV15OI.&lt;/NextVersionIdMarker&gt;
  &lt;MaxKeys&gt;2&lt;/MaxKeys&gt;
  &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;
  &lt;Version&gt;
    &lt;Key&gt;key3&lt;/Key&gt;
    &lt;VersionId&gt;8XECiENpj8pydEDJdd-_VRrvaGKAHOaGMNW7tg6UViI.&lt;/VersionId&gt;
    &lt;IsLatest&gt;false&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-09T00:18:23.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
  &lt;Version&gt;
    &lt;Key&gt;key3&lt;/Key&gt;
    &lt;VersionId&gt;d-d309mfjFri40QYukDozqBt3UmoQ0DBsVqmcMV15OI.&lt;/VersionId&gt;
    &lt;IsLatest&gt;false&lt;/IsLatest&gt;
    &lt;LastModified&gt;2009-12-09T00:18:08.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;396fefef536d5ce46c7537ecf978a360&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;217&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
&lt;/ListVersionsResult&gt;</pre>
            <h3 MadCap:autonum="1.0.12 &#160;">Using the delimiter and the prefix Parameters</h3>
            <p>Assume  the following keys are in the bucket, example-bucket:</p>
            <ul>
                <li>
                    <p><span class="ProprietaryFileName">photos/2006/January/sample.jpg</span>
                    </p>
                </li>
                <li><span class="ProprietaryFileName">photos/2006/February/sample.jpg</span>
                </li>
                <li>
                    <p><span class="ProprietaryFileName">photos/2006/March/sample.jpg</span>
                    </p>
                </li>
                <li>
                    <p><span class="ProprietaryFileName">videos/2006/March/sample.wmv</span>
                    </p>
                </li>
                <li>
                    <p><span class="ProprietaryFileName">sample.jpg</span>
                    </p>
                </li>
            </ul>
            <div>
                <p class="pgBreakKeepNext" style="text-align: left;">The following GET request specifies the <span class="ElementName">delimiter</span> parameter with value "/".</p>
            </div>
            <h4>Request Sample</h4><pre xml:space="preserve">GET /?versions&amp;amp;delimiter=/ HTTP/1.1
Host: example-bucket.s3.scality.com
Date: Wed, 02 Feb 2011 20:34:56 GMT
Authorization: authorization string</pre>
            <p>The response returns the sample.jpg key in a <span class="ElementName">&lt;Version&gt;</span> element. However, because all the other keys contain the specified delimiter, a distinct substring, from the beginning of the key to the first occurrence of the delimiter, from each of these keys is returned in a <span class="ElementName">&lt;CommonPrefixes&gt;</span> element. The key substrings, <span class="ElementName">photos/</span> and <span class="ElementName">videos/</span>, in the <span class="ElementName">&lt;CommonPrefixes&gt;</span> element indicate that there are one or more keys with these key prefixes.</p>
            <p>This is a useful scenario if key prefixes are used for the objects to create a logical folder-like structure. In this case the result can be interpreted as the folders <span class="ProperNameBold">photos/</span> and <span class="ProperNameBold">videos/</span> having one or more objects.</p><pre xml:space="preserve">&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;mvbucketwithversionon1&lt;/Name&gt;
  &lt;Prefix&gt;&lt;/Prefix&gt;
  &lt;KeyMarker&gt;&lt;/KeyMarker&gt;
  &lt;VersionIdMarker&gt;&lt;/VersionIdMarker&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  
  &lt;Version&gt;
    &lt;Key&gt;Sample.jpg&lt;/Key&gt;
    &lt;VersionId&gt;toxMzQlBsGyGCz1YuMWMp90cdXLzqOCH&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2011-02-02T18:46:20.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;3305f2cfc46c0f04559748bb039d69ae&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;3191&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;852b113e7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc&lt;/ID&gt;
      &lt;DisplayName&gt;display-name&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
 
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;videos/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
&lt;/ListVersionsResult&gt;</pre>
            <p style="page-break-after: avoid;">In addition to the <span class="ElementName">delimiter</span> parameter you can filter results by adding a <span class="ElementName">prefix</span> parameter as shown in the following request:</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?versions&amp;amp;prefix=photos/2006/&amp;amp;delimiter=/ HTTP/1.1
Host: example-bucket.s3.scality.com
Date: Wed, 02 Feb 2011 19:34:02 GMT
Authorization: authorization string</pre>
            <p class="codeparatext">&#160;</p>
            <p>In this case the response will include only objects keys that start with the specified prefix. The value returned in the <span class="ElementName">&lt;CommonPrefixes&gt;</span> element is a substring from the beginning of the key to the first occurrence of the specified delimiter after the prefix.</p><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListVersionsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;example-bucket&lt;/Name&gt;
  &lt;Prefix&gt;photos/2006/&lt;/Prefix&gt;
  &lt;KeyMarker&gt;&lt;/KeyMarker&gt;
  &lt;VersionIdMarker&gt;&lt;/VersionIdMarker&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;Version&gt;
    &lt;Key&gt;photos/2006/&lt;/Key&gt;
    &lt;VersionId&gt;3U275dAA4gz8ZOqOPHtJCUOi60krpCdy&lt;/VersionId&gt;
    &lt;IsLatest&gt;true&lt;/IsLatest&gt;
    &lt;LastModified&gt;2011-02-02T18:47:27.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;quot;d41d8cd98f00b204e9800998ecf8427e&amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;0&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
      &lt;DisplayName&gt;display-name&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
  &lt;/Version&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/February/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/January/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/March/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
&lt;/ListVersionsResult&gt;</pre>
        </div>
    </body>
</html>