﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="738" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">GET Bucket Website</h1>
        <p style="text-align: left;page-break-after: avoid;">Use the GET Bucket Website operation to retrieve a bucket website configuration. This GET operation requires the <span class="ElementName">S3:GetBucketWebsite </span>permission. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?website HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: {{length}}
Authorization: {{authenticationInformation}}</pre>
        <p class="codeparatext">&#160;</p>
        <p class="Note" style="text-align: left;">The request syntax illustrates only a portion of the request headers. </p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The GET Bucket Website operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;"> The GET Bucket Website operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">This operation does not use request elements. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket Website operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The PUT Bucket Website response XML includes same elements that were uploaded when you configured the bucket as website. For more information, refer to <MadCap:xref href="PUT Bucket Website.htm">"PUT Bucket Website" on page&#160;1</MadCap:xref>.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET / HTTP/1.1
Host: example.com
Date: Mon, 15 Feb 2016 15:30:07 GMT
Authorization: {{authenticationInformation}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMgUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 3848CD259D811111
Date: Thu, 27 Jan 2011 00:49:26 GMT
Content-Length: 240
Content-Type: application/xml
Transfer-Encoding: chunked
Server: AmazonS3</pre><pre xml:space="preserve" style="page-break-inside: avoid;">

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;WebsiteConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;IndexDocument&gt;
    &lt;Suffix&gt;index.html&lt;/Suffix&gt;
  &lt;/IndexDocument&gt;
  &lt;ErrorDocument&gt;
    &lt;Key&gt;404.html&lt;/Key&gt;
  &lt;/ErrorDocument&gt;
&lt;/WebsiteConfiguration&gt;</pre>
    </body>
</html>