﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="854" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">HEAD Bucket</h1>
        <p style="text-align: left;">The HEAD Bucket operation is used to determine whether a bucket exists and can be accessed. </p>
        <p style="text-align: left;">HEAD Bucket returns <span class="Code_Terminal">200 OK</span> if the bucket is in the system and accessible, otherwise the operation can return such responses as <span class="Code_Terminal">404 Not Found</span> or <span class="Code_Terminal">403 Forbidden</span>.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <div>
            <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve">HEAD / HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}}</pre>
        </div>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The HEAD Bucket  operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the HEAD Bucket  operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The HEAD Bucket  operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the HEAD Bucket operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The HEAD Bucket operation does not return response elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Determining the Status of a Particular Bucket</h3>
        <h4>Request Sample</h4><pre xml:space="preserve">HEAD / HTTP/1.1
Date: Fri, 10 Feb 2012 21:34:55 GMT
Authorization: {{authorizationString}}
Host: {{bucketname}}.s3.scality.com
Connection: Keep-Alive</pre>
        <h4>Response Sample</h4><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: JuKZqmXuiwFeDQxhD7M8KtsKobSzWA1QEjLbTMTagkKdBX2z7Il/jGhDeJ3j6s80
x-amz-request-id: 32FE2CEB32F5EE25
Date: Fri, 10 2012 21:34:56 GMT
Server: ScalityS3</pre>
    </body>
</html>