﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="814" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">List Multipart Uploads</h1>
        <p style="text-align: left;">The List Multipart Uploads operation catalogs in-progress multipart uploads (multipart uploads that have been initiated via the Initiate Multipart Upload request, but that have not yet been completed or aborted).</p>
        <p style="text-align: left;">List Multipart Uploads returns at most 1,000 multipart uploads in the response (which is also the default setting for uploads a response can include, adjustable via the <span class="ElementName">max-uploads</span> request parameter in the response). If additional multipart uploads satisfy the list criteria, the response returns an <span class="ElementName">IsTruncated</span> element with the value of <span class="Code_Terminal">true</span>. To list the additional multipart uploads, use the <span class="ElementName">key-marker</span> and <span class="ElementName">upload-id-marker request</span> parameters.</p>
        <p style="text-align: left;"> In the response, the uploads are sorted by key. If the application has initiated more than one multipart upload using the same object key, then uploads in the response are first sorted by key. Additionally, uploads are sorted in ascending order within each key by the upload initiation time.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?uploads HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authorizationString}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The List Multipart Uploads operation's implementation of GET uses certain parameters to return a subset of the ongoing multipart uploads in a bucket.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">delimiter</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Character used to group keys.</p>
                        <p class="InTableFormatted">All keys that contain the same string between the <span class="ElementName">prefix</span>, if specified, and the first occurrence of the delimiter after the prefix are grouped under a single result element, <span class="ElementName">CommonPrefixes</span>. If prefix is not specified, then the substring starts at the beginning of the key. The keys that are grouped under <span class="ElementName">CommonPrefixes</span> result element are not returned elsewhere in the response.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">encoding-type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Requests that <MadCap:variable name="S3 Connector Variables.ComponentName" /> encode the response and specifies the encoding method to use.</p>
                        <p class="InTableFormatted">An object key can contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, add this parameter to request that <MadCap:variable name="S3 Connector Variables.ComponentName" /> encode the keys in the response.</p>
                        <p class="InTableFormattedNote">The only valid value for the encoding-type parameter is <span class="Code_Terminal">url</span>.</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">max-uploads</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the maximum number of multipart uploads, from 1 to 1,000, to return in the response body. 1,000 is the maximum number of uploads that can be returned in a response.</p>
                        <p class="InTableFormatted">Default: 1,000</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">key-marker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Together with <span class="ElementName">upload-id-marker</span>, the <span class="ElementName">key-marker</span> parameter specifies the multipart upload after which listing should begin.</p>
                        <p class="InTableFormatted">If <span class="ElementName">upload-id-marker</span> is not specified, only the keys lexicographically greater than the specified <span class="ElementName">key-marker</span> will be included in the list. If <span class="ElementName">upload-id-marker</span> is specified, any multipart uploads for a key equal to the <span class="ElementName">key-marker</span> might also be included, provided those multipart uploads have upload IDs lexicographically greater than the specified <span class="ElementName">upload-id-marker</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">prefix</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">	
Lists in-progress uploads only for those keys that begin with the specified <span class="ElementName">prefix</span>. This parameter can be used to separate a bucket into different grouping of keys. To illustrate, prefixes can be used to make groups, similar to the manner in which a folder is used in a file system.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">upload-id-marker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Together with <span class="ElementName">key-marker</span>, specifies the multipart upload after which listing should begin. If <span class="ElementName">key-marker</span> is not specified, the parameter is ignored. Otherwise, any multipart uploads for a key equal to the <span class="ElementName">key-marker</span> might be included in the list only if they have an upload ID lexicographically greater than the specified <span class="ElementName">upload-id-marker</span>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the List Multipart Uploads operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The List Multipart Uploads operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">The List Multipart Uploads uses only the common response headers supported by <MadCap:variable name="S3 Connector Variables.ComponentName" /> (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm#Common">"Common Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The List Multipart Uploads operation  can return the following XML&#160;elements of the response (includes XML containers): </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ListMultipartUploadsResult</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for the response</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Bucket</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Name of the bucket to which the multipart upload was initiated</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">KeyMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The key at or after which the listing began</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">UploadIdMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Upload ID after which listing began</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">NextKeyMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When a list is truncated, <span class="ElementName">NextKeyMarker</span> specifies the value that should be used for the <span class="ElementName">key-marker</span> request parameter in a subsequent request.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">NextUploadIDMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When a list is truncated, <span class="ElementName">NextUploadIDMarker</span> specifies the value that should be used for the <span class="ElementName">upload-id-marker</span> request parameter in a subsequent request.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Encoding-Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Encoding type used by <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> to encode object key names in the XML response</p>
                        <p class="InTableFormatted">If the&#160;<span class="ElementName">encoding-type</span>&#160;request parameter is specified, <MadCap:variable name="S3 Connector Variables.ComponentName" /> includes this element in the response, and returns encoded key name values in the&#160;following elements: <span class="ElementName">Delimiter</span>, <span class="ElementName">KeyMarker</span>, <span class="ElementName">Prefix</span>, <span class="ElementName">NextKeyMarker</span>, and <span class="ElementName">Key</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">MaxUploads</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Maximum number of multipart uploads that could have been included in the response</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">IsTruncated</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Boolean</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Indicates whether the returned list of multipart uploads is truncated. A&#160;<span class="ProperNameBold">true</span>&#160;value indicates that the list was truncated. A list can be truncated if the number of multipart uploads exceeds the limit returned in the&#160;<span class="ElementName">MaxUploads</span>&#160;element.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Upload</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for elements related to a particular multipart upload</p>
                        <p class="InTableFormatted">A response can contain zero or more <span class="ElementName">Upload</span> elements.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Key</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Key of the object for which the multipart upload was initiated</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">UploadID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Upload ID that identifies the multipart upload</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Initiator</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Identifies the party who initiated the multipart upload</p>
                        <p class="InTableFormatted">ID: Initiation User ID</p>
                        <p class="InTableFormatted">DisplayName: Name of request initiating party</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Owner</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container element that identifies the object owner, after the object is created</p>
                        <p class="InTableFormatted">ID: Object owner User ID</p>
                        <p class="InTableFormatted">DisplayName: Name of object owner</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Initiated</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">date</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Date and time at which the multipart upload was initiated</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ListMultipartUploadsResult.Prefix</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When a prefix is provided in the request, this field contains the specified prefix. The result contains only keys starting with the specified prefix.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Delimiter</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Contains the delimiter specified in the request</p>
                        <p class="InTableFormatted">If a delimiter is not specified in the request, this element is absent from the response.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">CommonPrefixes</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">If a delimiter is specified in the request, then the result returns each distinct key prefix containing the delimiter in a CommonPrefixes element. The distinct key prefixes are returned in the Prefix child element.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">CommonPrefixes.Prefix</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">If the request does not include the Prefix parameter, then <span class="ElementName">CommonPrefixes.Prefix</span> shows only the substring of the key that precedes the first occurrence of the delimiter character. These keys are not returned anywhere else in the response.</p>
                        <p class="InTableFormatted">If the request includes the <span class="ElementName">Prefix</span> parameter, then <span class="ElementName">CommonPrefixes.Prefix</span> shows the substring of the key from the beginning to the first occurrence of the delimiter after the prefix.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">List Multipart Uploads</h3>
        <h4>Request Sample</h4>
        <p style="text-align: left;page-break-after: avoid;">The request sample lists three multipart uploads, specifying the <span class="ElementName">max-uploads</span> request parameter to set the maximum number of multipart uploads to return in the response body.</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?uploads&amp;amp;max-uploads=3 HTTP/1.1
Host:  example-bucket.{{StorageService}}.com
Date: Mon, 1 Nov 2010 20:34:56 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4>
        <p style="text-align: left;">The response sample indicates that the multipart upload list was truncated and provides the <span class="ElementName">NextKeyMarker</span> and the <span class="ElementName">NextUploadIdMarker</span> elements. These values are specified in subsequent requests to read the next set of multipart uploads. That is, send a subsequent request specifying <span class="Code_Terminal">key-marker=my-movie2.m2ts</span> (value of the <span class="ElementName">NextKeyMarker</span> element) and <span class="Code_Terminal">upload-id-marker=YW55IGlkZWEgd2h5IGVsdmluZydzIHVwbG9hZCBmYWlsZWQ</span> (value of the <span class="ElementName">NextUploadIdMarker</span>).</p>
        <p style="text-align: left;">The sample response also shows a case of two multipart uploads in progress with the same key (<span class="Code_Terminal">my-movie.m2ts</span>). That is, the response shows two uploads with the same key. This response shows the uploads sorted by key, and within each key the uploads are sorted in ascending order by the time the multipart upload was initiated.</p><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==
x-amz-request-id: 656c76696e6727732072657175657374
Date: Mon, 1 Nov 2010 20:34:56 GMT
Content-Length: 1330
Connection: keep-alive
Server: AmazonS3

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListMultipartUploadsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Bucket&gt;bucket&lt;/Bucket&gt;
  &lt;KeyMarker&gt;&lt;/KeyMarker&gt;
  &lt;UploadIdMarker&gt;&lt;/UploadIdMarker&gt;
  &lt;NextKeyMarker&gt;my-movie.m2ts&lt;/NextKeyMarker&gt;
  &lt;NextUploadIdMarker&gt;YW55IGlkZWEgd2h5IGVsdmluZydzIHVwbG9hZCBmYWlsZWQ&lt;/NextUploadIdMarker&gt;
  &lt;MaxUploads&gt;3&lt;/MaxUploads&gt;
  &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;
  &lt;Upload&gt;
    &lt;Key&gt;my-divisor&lt;/Key&gt;
    &lt;UploadId&gt;XMgbGlrZSBlbHZpbmcncyBub3QgaGF2aW5nIG11Y2ggbHVjaw&lt;/UploadId&gt;
    &lt;Initiator&gt;
      &lt;ID&gt;arn:aws:iam::111122223333:user/user1-11111a31-17b5-4fb7-9df5-b111111f13de&lt;/ID&gt;
      &lt;DisplayName&gt;user1-11111a31-17b5-4fb7-9df5-b111111f13de&lt;/DisplayName&gt;
    &lt;/Initiator&gt;
    &lt;Owner&gt;
      &lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;
      &lt;DisplayName&gt;OwnerDisplayName&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;Initiated&gt;2010-11-10T20:48:33.000Z&lt;/Initiated&gt;  
  &lt;/Upload&gt;
  &lt;Upload&gt;
    &lt;Key&gt;my-movie.m2ts&lt;/Key&gt;
    &lt;UploadId&gt;VXBsb2FkIElEIGZvciBlbHZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZA&lt;/UploadId&gt;
    &lt;Initiator&gt;
      &lt;ID&gt;b1d16700c70b0b05597d7acd6a3f92be&lt;/ID&gt;
      &lt;DisplayName&gt;InitiatorDisplayName&lt;/DisplayName&gt;
    &lt;/Initiator&gt;
    &lt;Owner&gt;
      &lt;ID&gt;b1d16700c70b0b05597d7acd6a3f92be&lt;/ID&gt;
      &lt;DisplayName&gt;OwnerDisplayName&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;Initiated&gt;2010-11-10T20:48:33.000Z&lt;/Initiated&gt;
  &lt;/Upload&gt;
  &lt;Upload&gt;
    &lt;Key&gt;my-movie.m2ts&lt;/Key&gt;
    &lt;UploadId&gt;YW55IGlkZWEgd2h5IGVsdmluZydzIHVwbG9hZCBmYWlsZWQ&lt;/UploadId&gt;
    &lt;Initiator&gt;
      &lt;ID&gt;arn:aws:iam::444455556666:user/user1-22222a31-17b5-4fb7-9df5-b222222f13de&lt;/ID&gt;
      &lt;DisplayName&gt;user1-22222a31-17b5-4fb7-9df5-b222222f13de&lt;/DisplayName&gt;
    &lt;/Initiator&gt;
    &lt;Owner&gt;
      &lt;ID&gt;b1d16700c70b0b05597d7acd6a3f92be&lt;/ID&gt;
      &lt;DisplayName&gt;OwnerDisplayName&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;Initiated&gt;2010-11-10T20:49:33.000Z&lt;/Initiated&gt;
  &lt;/Upload&gt;
&lt;/ListMultipartUploadsResult&gt;</pre>
        <h3 MadCap:autonum="1.0.8 &#160;">Using the Delimiter and the Prefix Parameters</h3>
        <p style="text-align: left;">Assume a multipart upload is in progress for the following keys in a <span class="Code_Terminal">example-bucket</span>.</p>
        <ul>
            <li><span class="ProprietaryFileName">greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/January/greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/February/greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/March/greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">video_content/2006/March/greatvideo.raw</span>
            </li>
        </ul>
        <h4>Request Sample: Request Specifies delimiter Parameter</h4>
        <p style="text-align: left;">The sample list multipart upload request specifies the delimiter parameter with value "/".</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?uploads&amp;amp;delimiter=/ HTTP/1.1
Host: example-bucket.s3.scality.com
Date: Mon, 1 Nov 2010 20:34:56 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4>
        <p style="text-align: left;">The response sample lists multipart uploads on the specified bucket, <span class="Code_Terminal">example-bucket</span>.</p>
        <p style="text-align: left;">The response returns multipart upload for the <span class="ProprietaryFileName">greatshot.raw</span> key in an <span class="ElementName">Upload</span> element. As all the other keys contain the specified delimiter, however, a distinct substring – from the beginning of the key to the first occurence of the delimiter, from each of the keys – is returned in a <span class="ElementName">CommonPrefixes</span> element. The key substrings, <span class="Code_Terminal">photographs/</span> and <span class="Code_Terminal">video_content/</span>, in the <span class="ElementName">CommonPrefixes</span> element indicate that there are one or more in-progress multipart uploads with these key prefixes.</p>
        <p style="text-align: left;">This is a useful scenario if key prefixes are used for objects for the purpose of creating a logical folder like structure. In this case you can interpret the result as the folders <span class="Code_Terminal">photographs/</span> and <span class="Code_Terminal">video_content/</span> have one or more multipart uploads in progress. In such a case the results can be interpreted, as the folders <span class="Code_Terminal">photographs/</span> and <span class="Code_Terminal">video_content/</span> have one or more multipart uploads in progress.</p><pre xml:space="preserve">&lt;ListMultipartUploadsResult xmlns="http://s3.scalityaws.com/doc/2006-03-01/"&gt;
  &lt;Bucket&gt;example-bucket&lt;/Bucket&gt;
  &lt;KeyMarker/&gt;
  &lt;UploadIdMarker/&gt;
  &lt;NextKeyMarker&gt;sample.jpg&lt;/NextKeyMarker&gt;
  &lt;NextUploadIdMarker&gt;Xgw4MJT6ZPAVxpY0SAuGN7q4uWJJM22ZYg1W99trdp4tpO88.PT6.MhO0w2E17eutfAvQfQWoajgE_W2gpcxQw--&lt;/NextUploadIdMarker&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;Prefix/&gt;
  &lt;MaxUploads&gt;1000&lt;/MaxUploads&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;Upload&gt;
    &lt;Key&gt;sample.jpg&lt;/Key&gt;
    &lt;UploadId&gt;Agw4MJT6ZPAVxpY0SAuGN7q4uWJJM22ZYg1N99trdp4tpO88.PT6.MhO0w2E17eutfAvQfQWoajgE_W2gpcxQw--&lt;/UploadId&gt;
    &lt;Initiator&gt;
      &lt;ID&gt;314133b66967d86f031c7249d1d9a80249109428335cd0ef1cdc487b4566cb1b&lt;/ID&gt;
      &lt;DisplayName&gt;s3-nickname&lt;/DisplayName&gt;
    &lt;/Initiator&gt;
    &lt;Owner&gt;
      &lt;ID&gt;314133b66967d86f031c7249d1d9a80249109428335cd0ef1cdc487b4566cb1b&lt;/ID&gt;
      &lt;DisplayName&gt;s3-nickname&lt;/DisplayName&gt;
    &lt;/Owner&gt;
    &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
    &lt;Initiated&gt;2010-11-26T19:24:17.000Z&lt;/Initiated&gt;
  &lt;/Upload&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;videos/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;/ListMultipartUploadsResult&gt;</pre>
        <h4>Request Sample: Specified delimiter Parameter and added prefix Parameter</h4>
        <p style="text-align: left;">In addition to the delimiter parameter, results can be filtered by adding a <span class="ElementName">prefix</span> parameter.</p><pre xml:space="preserve">GET /?uploads&amp;amp;delimiter=/&amp;amp;prefix=photographs/2006/ HTTP/1.1
Host: example-bucket.s3.scalityaws.com
Date: Mon, 1 Nov 2010 20:34:56 GMT
Authorization: authorization string</pre>
        <div>
            <h4>Response Sample</h4>
            <p style="text-align: left;">In this case the response will include only multipart uploads for keys that start with the specified prefix. The value returned in the <span class="ElementName">CommonPrefixes</span> element is a substring from the beginning of the key to the first occurrence of the specified delimiter after the prefix.</p><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;ListMultipartUploadsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Bucket&gt;example-bucket&lt;/Bucket&gt;
  &lt;KeyMarker/&gt;
  &lt;UploadIdMarker/&gt;
  &lt;NextKeyMarker/&gt;
  &lt;NextUploadIdMarker/&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;Prefix&gt;photos/2006/&lt;/Prefix&gt;
  &lt;MaxUploads&gt;1000&lt;/MaxUploads&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/February/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/January/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photos/2006/March/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
&lt;/ListMultipartUploadsResult&gt;</pre>
        </div>
    </body>
</html>