﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="830" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">PUT Bucket Website</h1>
        <p style="text-align: left;">The PUT Bucket Website operation configures a bucket to serve as a bucket website. </p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">PUT /?website HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: {{length}}
Authorization: {{authenticationInformation}}
&#160;
&lt;WebsiteConfiguration xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
&lt;!-- website configuration information. --&gt;
&lt;/WebsiteConfiguration&gt;</pre>
        <p class="Note" style="text-align: left;">The request syntax illustrates only a portion of the request headers. </p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The PUT Bucket Website operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;"> The PUT Bucket operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">You can use a website configuration to redirect all requests to the website endpoint of a bucket, or you can add routing rules that redirect only specific requests. </p>
        <ul>
            <li> To redirect all website requests sent to the bucket's website endpoint, you add a website configuration with the following elements. Because all requests are sent to another website, you don't need to provide index document name for the bucket. </li>
        </ul>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 184px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 93px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">WebsiteConfiguration</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>The root element for the website configuration</p>
                        <p>Ancestors: None </p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>RedirectAllRequestsTo </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Describes the redirect behavior for every request to this bucket's website endpoint. If this element is present, no other siblings are allowed.</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration</span> <![CDATA[ ]]></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">HostName</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Name of the host where requests will be redirected.</p>
                        <p>
Ancestors: <span class="ElementName">RedirectAllRequestsTo</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">Protocol</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p>Protocol to use (http, https) when redirecting requests. The default is the protocol that is used in the original request.
</p>
                        <p>Ancestors: <span class="ElementName">RedirectAllRequestsTo</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>If you want granular control over redirects, you can use the following elements to add routing rules that describe conditions for redirecting requests and information about the redirect destination. In this case, the website configuration must provide an index document for the bucket, because some requests might not be redirected. </li>
        </ul>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 212px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 60px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 347px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">WebsiteConfiguration</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for the request</p>
                        <p>Ancestors: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>IndexDocument </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for the <span class="ElementName">Suffix </span>element.</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Suffix</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">A suffix that is appended to a request that is for a directory on the website endpoint (e.g., if the suffix is <span class="HTMLCode">index.html</span> and you make a request to <span class="HTMLCode">samplebucket/images/</span>, the data returned will be for the object with the key name<span class="HTMLCode"> images/index.html</span>)</p>
                        <p style="text-align: left;">The suffix must not be empty and must not include a slash character.</p>
                        <p style="text-align: left;">Ancestors: <span class="ElementName">WebsiteConfiguration.IndexDocument</span> <![CDATA[ ]]></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ErrorDocument</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for the <span class="ElementName">Key</span> element</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Key</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>The object key name to use when a 4XX class error occurs. This key identifies the page that is returned when such an error occurs.
</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration.ErrorDocument</span><![CDATA[
]]></p>
                        <p>Condition: Required when ErrorDocument is specified.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">RoutingRules</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for a collection of RoutingRule elements.
</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">RoutingRule</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Container for one routing rule that identifies a condition and a redirect that applies when the condition is met.</p>
                        <p>Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules</span><![CDATA[
]]></p>
                        <p>Condition: In a RoutingRules container, there must be at least one <span class="ElementName">RoutingRule</span> element.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Condition</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Container</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">A container for describing a condition that must be met for the specified redirect to apply. For example:</p>
                        <ul>
                            <li style="text-align: left;font-size: 9pt;">
If request is for pages in the /docs folder, redirect to the /documents folder.
</li>
                            <li style="text-align: left;font-size: 9pt;">If request results in HTTP error 4xx, redirect request to another host where you might process the error.
</li>
                        </ul>
                        <p style="text-align: left;">Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules.RoutingRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">KeyPrefixEquals</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1" style="text-align: left;">
                        <p style="text-align: left;">The object key name prefix when the redirect is applied. For example, to redirect requests for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request for all pages with the prefix docs/, the key prefix will be /docs, which identifies all objects in the docs/ folder.</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">WebsiteConfiguration<br />.RoutingRules.RoutingRule.Condition</span><![CDATA[
]]></p>
                        <p style="text-align: left;">Condition: Required when the parent element Condition is specified and sibling <span class="ElementName">HttpErrorCodeReturnedEquals</span> is not specified. If both conditions are specified, both must be true for the redirect to be applied.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">HttpErrorCodeReturnedEquals</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied.
</p>
                        <p style="text-align: left;">Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules.RoutingRule.Condition</span><![CDATA[
]]></p>
                        <p style="text-align: left;">Condition: Required when parent element Condition is specified and sibling KeyPrefixEquals is not specified. If both are specified, then both must be true for the redirect to be applied.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Redirect</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1" style="text-align: left;">
                        <p style="text-align: left;">Container for redirect information. You can redirect requests to another host, to another page, or with another protocol. In the event of an error, you can specify a different error code to return.
</p>
                        <p style="text-align: left;">Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules.RoutingRule</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">Protocol</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">The protocol to use in the redirect request.</p>
                        <p style="text-align: left;">

Ancestors:<span class="ElementName"> WebsiteConfiguration<br />.RoutingRules.RoutingRule.Redirect
</span>Valid Values: <span class="ElementName">http, https</span><![CDATA[
]]></p>
                        <p style="text-align: left;">
Condition: Not required if one of the siblings is present</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">HostName</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1" style="text-align: left;">
                        <p style="text-align: left;">The host name to use in the redirect request.</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">WebsiteConfiguration<br />.RoutingRules.RoutingRule.Redirect</span></p>
                        <p style="text-align: left;">

Condition: Not required if one of the siblings is present</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ReplaceKeyPrefixWith</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">The object key prefix to use in the redirect request. For example, to redirect requests for all pages with prefix docs/ (objects in the docs/ folder) to documents/, you can set a condition block with KeyPrefixEquals set to docs/ and in the Redirect set ReplaceKeyPrefixWith to "documents".

</p>
                        <p style="text-align: left;">Ancestors:<span class="ElementName"> WebsiteConfiguration.RoutingRules.RoutingRule.Redirect</span></p>
                        <p style="text-align: left;">
Condition: Not required if one of the siblings is present. Can be present only if<span class="ElementName"> ReplaceKeyWith</span> is not provided.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">ReplaceKeyWith</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p style="text-align: left;">The specific object key to use in the redirect request. For example, redirect request to error.html.
</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules.RoutingRule.Redirect</span><![CDATA[
]]></p>
                        <p style="text-align: left;">Condition: Not required if one of the sibling is present. Can be present only if<span class="ElementName"> ReplaceKeyPrefixWith</span> is not provided.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">HttpRedirectCode</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">String</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p style="text-align: left;">The HTTP redirect code to use on the response.
</p>
                        <p style="text-align: left;">
Ancestors: <span class="ElementName">WebsiteConfiguration.RoutingRules.RoutingRule.Redirect</span><![CDATA[
]]></p>
                        <p style="text-align: left;">Condition: Not required if one of the siblings is present.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the PUT Bucket Website operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p>The PUT Bucket Website operation does not return response elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Configure a Bucket as a Website (Add Website Configuration)</h3>
        <p style="text-align: left;">This request configures a <span class="ElementName">bucket example.com</span> as a website. The configuration in the request specifies index.html as the index document. It also specifies the optional error document, <span class="ProprietaryFileName">SomeErrorDocument.html</span>. </p>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT ?website HTTP/1.1
Host: example.com.s3.scality.com
Content-Length: 256
Date: Thu, 27 Jan 2011 12:00:00 GMT
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve">

&lt;WebsiteConfiguration xmlns='http://s3.scality.com/doc/2006-03-01/'&gt;
    &lt;IndexDocument&gt;
        &lt;Suffix&gt;index.html&lt;/Suffix&gt;
    &lt;/IndexDocument&gt;
    &lt;ErrorDocument&gt;
        &lt;Key&gt;SomeErrorDocument.html&lt;/Key&gt;
    &lt;/ErrorDocument&gt;
&lt;/WebsiteConfiguration&gt;</pre>
        <h4>Response Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">HTTP/1.1 200 OK
x-amz-id-2: YgIPIfBiKa2bj0KMgUAdQkf3ShJTOOpXUueF6QKo
x-amz-request-id: 80CD4368BD211111
Date: Thu, 27 Jan 2011 00:00:00 GMT
Content-Length: 0
Server: ScalityS3</pre>
        <h3 MadCap:autonum="1.0.8 &#160;">Configure a Bucket as a Website but Redirect All Requests</h3>
        <p style="text-align: left;">The following request configures a bucket <span class="HTMLCode">www.example.com</span> as a website; however, the configuration specifies that all GET requests for the<span class="HTMLCode"> www.example.com</span> bucket's website endpoint will be redirected to <span class="HTMLCode">host example.com</span>. </p>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT ?website HTTP/1.1
Host: www.example.scality.com
Content-Length: 256
Date: Mon, 15 Feb 2016 15:30:07 GMT
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve" style="page-break-inside: avoid;">

&lt;WebsiteConfiguration xmlns='http://s3.scality.com/doc/2006-03-01/'&gt;
   &lt;RedirectAllRequestsTo&gt;
      &lt;HostName&gt;example.com&lt;/HostName&gt;
    &lt;/RedirectAllRequestsTo&gt;
&lt;/WebsiteConfiguration&gt;</pre>
        <h3 MadCap:autonum="1.0.9 &#160;">Configure a Bucket as a Website and Specify Optional Redirection Rules</h3>
        <p style="text-align: left;">You can further customize the website configuration by adding routing rules that redirect requests for one or more objects. For example, suppose your bucket contained the following objects:</p>
        <ul>
            <li>index.html</li>
            <li>docs/article1.html</li>
            <li>docs/article2.html</li>
        </ul>
        <p style="text-align: left;">If you decided to rename the folder from docs/ to documents/, you would need to redirect requests for prefix /docs to documents/. For example, a request for docs/article1.html will need to be redirected to documents/article1.html. In this case, you update the website configuration and add a routing rule as shown in the following request: </p>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT ?website HTTP/1.1
Host: www.example.com.s3.scality.com
Content-Length: length-value
Date: Thu, 27 Jan 2011 12:00:00 GMT
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve">

&lt;WebsiteConfiguration xmlns='http://s3.scality.com/doc/2006-03-01/'&gt;
  &lt;IndexDocument&gt;
    &lt;Suffix&gt;index.html&lt;/Suffix&gt;
  &lt;/IndexDocument&gt;
  &lt;ErrorDocument&gt;
    &lt;Key&gt;Error.html&lt;/Key&gt;
  &lt;/ErrorDocument&gt;

  &lt;RoutingRules&gt;
    &lt;RoutingRule&gt;
    &lt;Condition&gt;
      &lt;KeyPrefixEquals&gt;docs/&lt;/KeyPrefixEquals&gt;
    &lt;/Condition&gt;
    &lt;Redirect&gt;
      &lt;ReplaceKeyPrefixWith&gt;documents/&lt;/ReplaceKeyPrefixWith&gt;
    &lt;/Redirect&gt;
    &lt;/RoutingRule&gt;
  &lt;/RoutingRules&gt;
&lt;/WebsiteConfiguration&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.10 &#160;">Configure a Bucket as a Website and Redirect Errors</h3>
        <p style="text-align: left;">You can use a routing rule to specify a condition that checks for a specific HTTP error code. When a page request results in this error, you can optionally reroute requests. For example, you might route requests to another host and optionally process the error. The routing rule in the following requests redirects requests to an EC2 instance in the event of an HTTP error 404. For illustration, the redirect also inserts an object key prefix report-404/ in the redirect. For example, if you request a page ExamplePage.html and it results in a HTTP 404 error, the request is routed to a page report-404/testPage.html on the specified EC2 instance. If there is no routing rule and the HTTP error 404 occurred, then Error.html would be returned. </p>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT ?website HTTP/1.1
Host: www.example.com.s3.scality.com
Content-Length: 580
Date: Thu, 27 Jan 2011 12:00:00 GMT
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve">

&lt;WebsiteConfiguration xmlns='http://s3.scality.com/doc/2006-03-01/'&gt;
  &lt;IndexDocument&gt;
    &lt;Suffix&gt;index.html&lt;/Suffix&gt;
  &lt;/IndexDocument&gt;
  &lt;ErrorDocument&gt;
    &lt;Key&gt;Error.html&lt;/Key&gt;
  &lt;/ErrorDocument&gt;

  &lt;RoutingRules&gt;
    &lt;RoutingRule&gt;
    &lt;Condition&gt;
      &lt;HttpErrorCodeReturnedEquals&gt;404&lt;/HttpErrorCodeReturnedEquals &gt;
    &lt;/Condition&gt;
    &lt;Redirect&gt;
      &lt;HostName&gt;ec2-11-22-333-44.compute-1.scality.com&lt;/HostName&gt;
      &lt;ReplaceKeyPrefixWith&gt;report-404/&lt;/ReplaceKeyPrefixWith&gt;
    &lt;/Redirect&gt;
    &lt;/RoutingRule&gt;
  &lt;/RoutingRules&gt;
&lt;/WebsiteConfiguration&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.11 &#160;">Configure a Bucket as a Website and Redirect Folder Requests to a Page</h3>
        <p style="text-align: left;">Suppose you have the following pages in your bucket:</p>
        <ul>
            <li>images/photo1.jpg</li>
            <li>images/photo2.jpg</li>
            <li>images/photo3.jpg</li>
        </ul>
        <p style="text-align: left;">And you want to route requests for all pages with the images/ prefix to go to a single page, errorpage.html. You can add a website configuration to your bucket with the routing rule shown in the following request.</p>
        <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">PUT ?website HTTP/1.1
Host: www.example.com.s3.scality.com
Content-Length: 481
Date: Thu, 27 Jan 2011 12:00:00 GMT
Authorization: {{authenticationInformation}}</pre><pre xml:space="preserve">

&lt;WebsiteConfiguration xmlns='http://s3.scality.com/doc/2006-03-01/'&gt;
  &lt;IndexDocument&gt;
    &lt;Suffix&gt;index.html&lt;/Suffix&gt;
  &lt;/IndexDocument&gt;
  &lt;ErrorDocument&gt;
    &lt;Key&gt;Error.html&lt;/Key&gt;
  &lt;/ErrorDocument&gt;

  &lt;RoutingRules&gt;
    &lt;RoutingRule&gt;
    &lt;Condition&gt;
      &lt;KeyPrefixEquals&gt;images/&lt;/KeyPrefixEquals&gt;
    &lt;/Condition&gt;
    &lt;Redirect&gt;
      &lt;ReplaceKeyWith&gt;errorpage.html&lt;/ReplaceKeyWith&gt;
    &lt;/Redirect&gt;
    &lt;/RoutingRule&gt;
  &lt;/RoutingRules&gt;
&lt;/WebsiteConfiguration&gt;</pre>
    </body>
</html>