﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="762" MadCap:lastWidth="650">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Upload Part</h1>
        <p style="text-align: left;">Use the Upload Part operation to upload each part of an object being saved to storage via a multipart upload. Before you using this operation, an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request must be issued for the object, as the upload ID returned by that operation is required for the Upload Part operation. Along with the upload ID, a part number must also be specified with each Upload Part operation.</p>
        <p style="text-align: left;">Part numbers can be any number from 1 to 10,000, inclusive. A part number uniquely identifies a part and also defines its position within the object being created. If a new part is uploaded using the same part number that was used with a previous part, the previously uploaded part is overwritten. </p>
        <p style="text-align: left;">The largest part size permitted is 5GB which means that the biggest object that can be split is 50TB (10,000*5GB). Each part must be at least 5MB in size, except the last part. There is no minimum size threshold on the last part of your multipart upload.</p>
        <p style="text-align: left;">Each part must be at least 5MB in size, except the last part. There is no minimum size threshold on the last part of your multipart upload.</p>
        <p style="text-align: left;">After all the parts are uploaded, a <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request must be issued.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3>
        <p class="codeparatext">PUT /ObjectName?partNumber=PartNumber&amp;uploadId=UploadId HTTP/1.1</p>
        <p class="codeparatext">Host: {{BucketName}}.{{StorageService}}.com</p>
        <p class="codeparatext">Date: {{date}}</p>
        <p class="codeparatext">Content-Length: Size</p>
        <p class="codeparatext">Authorization: {{authorizationString}}</p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The Upload Part operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p class="pgBreakKeepNext" style="text-align: left;"> The Upload Part operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm#Common">"Common Request Headers" on page 1</MadCap:xref>). </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 117px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 69px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Content-Length</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The size of the object, in bytes</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Content-MD5</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The base64-encoded 128-bit MD5 digest of the message (without the headers) according to RFC 1864. This header can be used as a message integrity check to verify that the data is the same data that was originally sent. Although it is optional, the use of the Content-MD5 mechanism is recommended as an end-to-end integrity check.</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Expect</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When your application uses <span class="Code_Terminal">100-continue</span>, it does not send the request body until it receives an acknowledgment. If the message is rejected based on the headers, the body of the message is not sent.</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Valid Values: <span class="Code_Terminal">100-continue</span></p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Expires</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">The date and time at which the object is no longer cacheable.</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The Upload Part operation does not return request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the Upload Part operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The Upload Part operation does not return response elements.</p>
        <h3 MadCap:autonum="1.0.7 &#160;">Special Errors</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Error</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">NoSuchUpload error (HTTP 404 Not Found status code)</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Occurs when an invalid upload ID is provided in the Upload Part request, or when a multipart upload has already been either completed or aborted.</td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.8 &#160;">PUT Request Uploads a Part (part number 1) in a Multipart Upload </h3>
        <h4>Request Sample</h4>
        <p style="text-align: left;">Part 1 of a multipart upload using the upload ID returned by an <a href="Initiate Multipart Upload.htm" title="Initiate Multipart Upload API operation" alt="Initiate Multipart Upload API operation">Initiate Multipart Upload</a> request:</p>
        <p class="codeparatext" style="color: #000000;">PUT /my-movie.m2ts?partNumber=1&amp;uploadId=VCVsb2FkIElEIGZvciBlbZZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZR HTTP/1.1</p>
        <p class="codeparatext" style="color: #000000;">Host: example-bucket.s3.scality.com</p>
        <p class="codeparatext" style="color: #000000;">Date:  Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext" style="color: #000000;">Content-Length: 10485760</p>
        <p class="codeparatext" style="color: #000000;">Content-MD5: pUNXr/BjKK5G2UKvaRRrOA==</p>
        <p class="codeparatext" style="color: #000000;">Authorization: {{authorizationString}}</p>
        <p class="codeparatext" style="color: #000000;">***part data omitted***</p>
        <h4>Response Sample</h4>
        <p>The response includes the ETag header, a value that is needed for sending the <a href="Complete Multipart Upload.htm" title="Complete Multipart Upload API operation" alt="Complete Multipart Upload API operation">Complete Multipart Upload</a> request.</p>
        <p class="codeparatext" style="color: #000000;">HTTP/1.1 200 OK</p>
        <p class="codeparatext" style="color: #000000;">x-amz-id-2: Vvag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==</p>
        <p class="codeparatext" style="color: #000000;">x-amz-request-id: 656c76696e6727732072657175657374</p>
        <p class="codeparatext" style="color: #000000;">Date:  Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext" style="color: #000000;">ETag: "b54357faf0632cce46e942fa68356b38"</p>
        <p class="codeparatext" style="color: #000000;">Content-Length: 0</p>
        <p class="codeparatext" style="color: #000000;">Connection: keep-alive</p>
        <p class="codeparatext" style="color: #000000;">Server: ScalityS3</p>
    </body>
</html>